<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <center>
    <title>Home</title>


</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2560px-EBay_logo.svg.png" alt="Girl in a jacket" style="width:150px;height:60px;" >
<br></br>
<button class="cart" id="button"><a href="/cart">cart</button>
<hr></hr>


<br></br>
<center>
<img src="static/necklace/third.jpeg" >
<button class="btn1"> <a href="/product">View product</button>
</center>

<center>
<img src="static/necklace/fourth.jpeg" >
<button class="btn2"> <a href="/product2">View product</button>
    
</center>

</body>
</html>