<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/2560px-EBay_logo.svg.png"  style="width:150px;height:60px;" >

  <br></br>
    <br></br>
    <hr></hr>
  <center>
   <img src="static/necklace/fourth.jpeg" style="padding-top:300px; size:600px;">
   <h4>beige sweater<h4>   
                                 
   <h8>300$</h8>
  </center>
<button class="btn5"> <a href="/">Go back</button>
  
</body>
</html>