#button{
  padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.btn1 {
    padding: 10px 20px;
    background-color: beige;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn2 {
  
    padding: 10px 20px;
    background-color: beige;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}
.btn4
{
	padding: 10px 20px;
    background-color: beige;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

